<div class="container" style="margin-top: 70px;" *ngIf="renderData.length > 0" >
    <h1 class="text-center">Stock Simulator</h1>
    <div class="pull-right"><button class="btn btn-success pass-day-btn" (click)="passDay(renderData.length + 1)"> Pass Day</button></div>

    <ng-container *ngFor="let data of renderData">
        <div class="row">
            <div col-md-12><strong><span>Day {{data.day}}</span></strong></div>
        </div>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Company Full Name</th>
                <th>Ticker Symbol</th>
                <th>Initial Value</th>
                <th>Current Value</th>
                <th>Absolute Change</th>
                <th>% Of Change</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let company of data.companiesData">

                <td>{{ company.name }}</td>
                <td> {{ company.symbol }}</td>
                <td> {{ company.price | number:'1.0':'en-US' }}$</td>
                <td class="{{company.text_color_class}}"> {{ company.current_value | number:'1.0':'en-US' }}$</td>
                <td class="{{company.text_color_class}}">
                    {{company.absolute_change | number : '1.2-2' }}$ </td>
                <td class="{{company.text_color_class}}">
                    {{company.percentage_change}}%</td>

            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12" ><strong><span> Data as of {{data.date}}</span></strong></div>
        </div>
        <hr>
    </ng-container>
</div>



